@font-face {
    font-family: 'inconsolata'; /* Inconsolata-VariableFont_wdth,wght.ttf  */
    src: url("/police/Inconsolata/InconsolataVariableFont.ttf");
}

body {
    margin: 0;

    font-family: 'inconsolata', sans-serif;
}

header {
    padding: 2% 0;

    height: 3vh;
    width: 100%;

    color: #ffffff;
    background: #202020;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div {
    margin: 0 3%;
}

footer {
    height: 25px;
    width: 100%;

    text-align: center;
    background: #202020;
    color: #ffffff;
}

footer p {
    margin: 0;
}


/* ***** ***** Partie neutre ***** ***** */

/* Pour les liens */
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #2C739D;
}

section {
    margin: 0 2%;
}

article {
    margin: 3% auto;
}

article:first-of-type > div {
    margin: 2% auto;
}

.border {
    padding: 2%;

    border: 2px black solid;
    border-radius: 25px;
    background: #dddddd;
}


/* ***** ***** Premier block : "photo" ***** ***** */
.base {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
}

.moi {
    margin-right: 3%;
}

.moi div:first-of-type {
    margin-left: 5%;
}

.moi h1 {
    margin-bottom: 1%;
    font-size: 30px;
}

.moi h5 {
    margin-top: 0;
}

.moi a {
    color: #000000;
}
.moi a:hover {
    color: #742C9D;
}

.photo {
    padding: 1% 3%;
    border-left: 1px black solid;
}

.photo img {
    height: 225px;
    width: 180px;
}


/* ***** ***** Block : "cursus" ***** ***** */
.cursus {
    max-width: 850px;
}


/* ***** *****  Block : "skill" ***** ***** */
.skill {
    max-width: 1000px;
}

.skill > div {
    display: flex;
    text-align: justify;
}

.skill > div > div {
    min-width: 100px;
}

.borderSkill {
    margin-right: 2%;
    padding-right: 2%;
    border-right: 1px black solid;
}


/* ***** *****  Block : "langue_activite" ***** ***** */
.langue_activite {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.langue_activite > div {
    margin: 0 auto;
    width: 400px;
}

/* ***** ***** Dernier block : CV ***** ***** */
.lienCV {
    padding: 2% 0;

    display: flex;
    max-width: 1000px;

    border: 2px #202020 solid;
    border-radius: 10px;
    background: #dddddd;
}

.lienCV div {
    margin: auto;

    width: 50%;
    text-align: center;
}
.lienCV div:first-of-type {
    border-right: 1px black solid;
}

.lienCV p {
    margin: 0;
}

.lienCV img {
    height: 25px;
    width: 25px;
}



/* ---------------------------------------------------------------------------------------------- */
/* C'est pour le fond animé */

body { /* #ee7752, #e73c7e, #23a6d5, #23d5ab */
    background: linear-gradient(-45deg, #9d2c54, #742c9d, #2c739d, #2c9d3b);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}