@font-face {
    font-family: 'inconsolata'; /* Inconsolata-VariableFont_wdth,wght.ttf  */
    src: url("/police/Inconsolata/InconsolataVariableFont.ttf");
}

body {
    margin: 0;

    font-family: 'inconsolata', sans-serif;
}

header {
    padding: 2% 0;

    height: 3vh;
    width: 100%;

    color: #ffffff;
    background: #202020;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div {
    margin: 0 3%;
}

footer {
    height: 25px;
    width: 100%;

    text-align: center;
    background: #202020;
    color: #ffffff;
}

footer p {
    margin: 0;
}

/* Pour les liens */
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #2C739D;
}

section {
    margin: 0 2%;
}

.projet {
    margin: 3% auto;
    padding: 1%;

    max-width: 750px;

    border: 2px #202020 solid;
    border-radius: 25px;
    background: #DDDDDD;
}

.projet > p {
    margin: 0 1% 3% 1%;
    text-align: justify;
}

.lien {
    margin: 2%;
    padding: 2% 2% 0 2%;

    border-top: 1px #202020 solid;
}

.lien p {
    margin: 0;
}

.lien a {
    color: #000000;
    text-decoration: underline;
}
.lien p a:hover {
    color: #742C9D;
}


/* ---------------------------------------------------------------------------------------------- */
/* C'est pour le fond animé */

body {
    background: linear-gradient(-45deg, #9d2c54, #742c9d, #2c739d, #2c9d3b);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
